<div class="row justify-content-center">
    <div class="col-8">
        <jhi-alert-error></jhi-alert-error>
        <div *ngIf="userRequest" class="arq-card">

            <div class="arq-card-header">
                <p class="small arq-info" jhiTranslate="anyrequestNextApp.userRequest.urgency"></p>
                <jhi-urgency-light class="arq-urgency"
                                   [urgencyToCheck]=userRequest.urgency!.toString()>
                </jhi-urgency-light>
                <p class="small arq-info-content-end">5 minutes ago</p>

                <p class="small arq-info">By user: </p>
                <p class="small arq-info-content-start" style="grid-column: 2/4">{{userRequest.requestingUser}}</p>

                <p class="small arq-info">Valid to: </p>
                <p class="small arq-info-content-start" style="grid-column: 2/4">{{userRequest.validTo | date:'medium'}}</p>
            </div>

            <div class="card-divider"></div>

            <div class="arq-card-title">
                <h3 *ngIf="userRequest.title.length > 22">{{userRequest.title.slice(0, 23)}}<span>...</span></h3>
                <h3 *ngIf="userRequest.title.length <= 22">{{userRequest.title.slice(0, 23)}}</h3>
            </div>

            <div class="arq-card-body-lg">
                <p *ngIf="userRequest.description.length > 139">{{userRequest.description.slice(0, 140)}}<span>...</span></p>
                <p *ngIf="userRequest.description.length <= 139">{{userRequest.description.slice(0, 140)}}</p>
            </div>

            <div class="card-divider"></div>

            <div class="arq-card-footer">
                <fa-icon class="arq-card-icon" [icon]="'user-plus'"></fa-icon>
                <p class="small arq-contributor-count">{{userRequest.contributorCount}}</p>

            </div>


        </div>

        <button type="submit"
                (click)="previousState()"
                class="arq-submitbtn arq-smallbtn">
            <span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <button type="submit"
                (click)="contributeToRequest()"
                class="arq-submitbtn arq-smallbtn">
            <span jhiTranslate="anyrequestNextApp.requesting.action.contribute"> Contribute</span>
        </button>
    </div>
</div>
