<jhi-alert-error></jhi-alert-error>
<jhi-alert></jhi-alert>
<br/>


<div class="arq-sort-bar" jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">

    <div class="property" jhiSortBy="urgency">
        <span class="small font-weight-bold" jhiTranslate="anyrequestNextApp.userRequest.urgency">Urgency</span>
        <fa-icon [icon]="'sort'"></fa-icon>
    </div>
    <div class="property" jhiSortBy="validTo">
        <span class="small font-weight-bold" jhiTranslate="anyrequestNextApp.userRequest.validTo">Valid To</span>
        <fa-icon [icon]="'sort'"></fa-icon>
    </div>
    <div class="property" jhiSortBy="contributorCount">
        <span class="small font-weight-bold" jhiTranslate="anyrequestNextApp.userRequest.contributorCount">Contributor Count</span>
        <fa-icon [icon]="'sort'"></fa-icon>
    </div>

</div>


<div [@transformAnimation]="page" class="alert alert-warning" *ngIf="userRequests?.length === 0">
    <span jhiTranslate="anyrequestNextApp.userRequest.home.notFound">No userRequests found</span>
</div>

<div *ngIf="userRequests?.length > 0"
     [@listAnimation]="userRequests.length"
     class="row align-items-end mt-4">

    <div *ngFor="let userRequest of userRequests ;trackBy: trackId"
         class="col-md-6 col-lg-4">


        <div jhiSort [(predicate)]="predicate" [(ascending)]="ascending"
             [callback]="reset.bind(this)"
             class="arq-card">

            <div class="arq-card-header">
                <p class="small arq-info" jhiTranslate="anyrequestNextApp.userRequest.urgency"></p>
                <jhi-urgency-light class="arq-urgency"
                                   [urgencyToCheck]=userRequest.urgency!.toString()>
                </jhi-urgency-light>
                <p class="small arq-info-content-end">5 minutes ago</p>

                <p class="small arq-info">By user: </p>
                <p class="small arq-info-content-start" style="grid-column: 2/4">{{userRequest.requestingUser}}</p>

                <p class="small arq-info">Valid to: </p>
                <p class="small arq-info-content-start" style="grid-column: 2/4">{{userRequest.validTo | date:'medium'}}</p>
            </div>

            <div class="card-divider"></div>

            <div class="arq-card-title">
                <h3 *ngIf="userRequest.title.length > 22">{{userRequest.title.slice(0, 23)}}<span>...</span></h3>
                <h3 *ngIf="userRequest.title.length <= 22">{{userRequest.title.slice(0, 23)}}</h3>
            </div>

            <div class="arq-card-body">
                <p *ngIf="userRequest.description.length > 139">{{userRequest.description.slice(0, 140)}}<span>...</span></p>
                <p *ngIf="userRequest.description.length <= 139">{{userRequest.description.slice(0, 140)}}</p>
            </div>

            <div class="card-divider"></div>

            <div class="arq-card-footer">
                <fa-icon class="arq-card-icon" [icon]="'user-plus'"></fa-icon>
                <p class="small arq-contributor-count">{{userRequest.contributorCount}}</p>
                <div class="arq-card-submit">
                    <button type="submit"
                            class="arq-submitbtn arq-smallbtn"
                            [routerLink]="['/contributing', userRequest.id, 'view' ]">
                        <span class="d-none d-md-inline"
                              jhiTranslate="anyrequestNextApp.contributing.action.view">View</span>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
