<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark stylish-color-dark fixed-top scrolling-navbar"
            [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <img src="/content/images/arq-logo.svg" class="big-icon" height="30" alt="mdb logo">
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Left side -->
        <ul class="navbar-nav mr-auto" [ngSwitch]="isAuthenticated()">
            <!-- Home -->
            <li class="nav-item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/"
                   jhiTranslate="global.menu.home">Home
                </a>
            </li>
            <!-- Contributing -->
            <li *ngSwitchCase="true" class="nav-item" [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/contributing"
                   jhiTranslate="anyrequestNextApp.contributing.home.title">Contributing
                </a>
            </li>
            <!-- Requesting -->
            <li *ngSwitchCase="true" class="nav-item" [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/requesting"
                   jhiTranslate="anyrequestNextApp.requesting.home.title">Requesting
                </a>
            </li>
        </ul>

        <!-- Right side -->
        <ul class="navbar-nav ml-auto" [ngSwitch]="isAuthenticated()">
            <!-- Entities ADMIN -->
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" class="nav-item dropdown" dropdown>
                <a dropdownToggle
                   type="button"
                   class="nav-link dropdown-toggle waves-light"
                   mdbWavesEffect
                >
                    <span jhiTranslate="global.menu.entities.main">Entities</span>
                    <span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">

                    <a class="dropdown-item waves-light" mdbWavesEffect
                       routerLink="user-request" jhiTranslate="global.menu.entities.userRequest">User Request
                    </a>

                    <a class="dropdown-item waves-light" mdbWavesEffect
                       routerLink="contribution" jhiTranslate="global.menu.entities.contribution">Contribution
                    </a>

                    <a class="dropdown-item waves-light" mdbWavesEffect
                       routerLink="user-credit-account" jhiTranslate="global.menu.entities.userCreditAccount">UserCreditAccount
                    </a>

                    <div class="divider dropdown-divider"></div>

                    <a class="dropdown-item waves-light" mdbWavesEffect
                       routerLink="conversation" jhiTranslate="global.menu.entities.conversation">Conversation
                    </a>

                    <a class="dropdown-item waves-light" mdbWavesEffect
                       routerLink="chat-message" jhiTranslate="global.menu.entities.chatMessage">Chat Message
                    </a>

                </div>
            </li>

            <!-- Administration ADMIN -->
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" class="nav-item dropdown" dropdown>
                <a dropdownToggle
                   type="button"
                   class="nav-link dropdown-toggle waves-light"
                   mdbWavesEffect
                >
                    <span jhiTranslate="global.menu.admin.main">Entities</span>
                    <span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">

                    <a class="dropdown-item waves-light" mdbWavesEffect
                       routerLink="admin/user-management" jhiTranslate="global.menu.admin.userManagement">User
                        Management
                    </a>

                    <a class="dropdown-item waves-light" mdbWavesEffect
                       routerLink="admin/metrics" jhiTranslate="global.menu.admin.metrics">Metrics
                    </a>

                    <a class="dropdown-item waves-light" mdbWavesEffect
                       routerLink="admin/health" jhiTranslate="global.menu.admin.health">Health
                    </a>

                    <a class="dropdown-item waves-light" mdbWavesEffect
                       routerLink="admin/configuration" jhiTranslate="global.menu.admin.configuration">Configuration
                    </a>

                    <a class="dropdown-item waves-light" mdbWavesEffect
                       routerLink="admin/audits" jhiTranslate="global.menu.admin.audits">Audits
                    </a>

                    <a class="dropdown-item waves-light" mdbWavesEffect
                       routerLink="admin/logs" jhiTranslate="global.menu.admin.logs">Logs
                    </a>

                    <a *ngIf="swaggerEnabled" class="dropdown-item waves-light" mdbWavesEffect
                       routerLink="admin/docs" jhiTranslate="global.menu.admin.apidocs">API
                    </a>

                </div>
            </li>
            <!-- Register ANONYMOUS -->
            <li *ngSwitchCase="false" class="nav-item" [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="account/register"
                   jhiTranslate="global.menu.account.register">Register
                </a>
            </li>
            <!-- Login ANONYMOUS -->
            <li *ngSwitchCase="false" class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect (click)="login()"
                   jhiTranslate="global.menu.account.login">Login
                </a>
            </li>
            <!-- Account ADMIN USER -->
            <li *ngSwitchCase="true" class="nav-item dropdown" dropdown>
                <a dropdownToggle
                   type="button"
                   class="nav-link dropdown-toggle waves-light"
                   mdbWavesEffect
                >
                    <span jhiTranslate="global.menu.account.main">Account</span>
                    <span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">

                    <a class="dropdown-item waves-light" mdbWavesEffect
                       routerLink="account/settings" jhiTranslate="global.menu.account.settings">Settings
                    </a>

                    <a class="dropdown-item waves-light" mdbWavesEffect
                       routerLink="account/password" jhiTranslate="global.menu.account.password">Password
                    </a>

                    <div class="divider dropdown-divider"></div>

                    <a class="dropdown-item waves-light" mdbWavesEffect
                       (click)="logout()" jhiTranslate="global.menu.account.logout">Logout
                    </a>

                </div>
            </li>
            <!-- Language ANONYMOUS -->
            <li *ngIf="languages && languages.length > 1" class="nav-item dropdown" dropdown>
                <a dropdownToggle
                   type="button"
                   class="nav-link dropdown-toggle waves-light"
                   mdbWavesEffect
                >
                    <!--TODO This entire solution is crappy in terms of responsiveness-->
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;<fa-icon class="arq-menu-icon" [icon]="'language'"></fa-icon></span>

                </a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary"
                     style="left: -112px!important;" role="menu">

                    <div *ngFor="let language of languages" class="dropdown-item waves-light" mdbWavesEffect>
                        <a (click)="changeLanguage(language);">{{language | findLanguageFromKey}}</a>
                    </div>

                </div>
            </li>
        </ul>

    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
