<nav>

    <a routerLink="/" (click)="collapseNavbar()">collapse</a>

    <a href="javascript:void(0);" (click)="toggleNavbar()"></a>

    <div id="navbarResponsive" [ngSwitch]="isAuthenticated()">
        <ul>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/" (click)="collapseNavbar()">
                    <span jhiTranslate="global.menu.home">Home</span>
                </a>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li *ngSwitchCase="true" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a href="javascript:void(0);" id="entity-menu">
                    <span jhiTranslate="global.menu.entities.main">Entities</span>
                </a>
                <ul>
                    <li>
                        <a routerLink="user-request" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.entities.userRequest">User Request</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="contribution" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.entities.contribution">Contribution</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="user-credit-account" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.entities.userCreditAccount">User Credit Account</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="conversation" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.entities.conversation">Conversation</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="chat-message" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.entities.chatMessage">Chat Message</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a href="javascript:void(0);" id="admin-menu">
                    <span jhiTranslate="global.menu.admin.main">Administration</span>
                </a>
                <ul>
                    <li>
                        <a routerLink="admin/user-management" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="admin/configuration" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </ul>
            </li>
            <li *ngIf="languages && languages.length > 1">
                <a href="javascript:void(0);" id="languagesnavBarDropdown">
                    <span>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul>
                    <li *ngFor="let language of languages">
                        <a [jhiActiveMenu]="language" href="javascript:void(0);"
                           (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">

                <a href="javascript:void(0);" id="account-menu"></a>

                <ul>
                    <li *ngSwitchCase="true">
                        <a routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a (click)="logout()" id="logout">
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a (click)="login()" id="login">
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
