.app-loading {
  background-color: #646464;
}
.app-loading .container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 400px;
}
.app-loading .container .circle {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background: #646464;
}
.app-loading .container .circle:nth-of-type(1) {
  width: 200px;
  height: 166px;
  animation: rt 6s infinite linear;
  box-shadow: 0 0 1px 0 #b7f081, inset 0 0 10px 0 #b7f081;
}
.app-loading .container .circle:nth-of-type(2) {
  width: 166px;
  height: 200px;
  animation: rt 10s infinite linear;
  box-shadow: 0 0 1px 0 #90e551, inset 0 0 10px 0 #90e551;
}
.app-loading .container .circle:nth-of-type(3) {
  width: 210px;
  height: 190px;
  animation: rt 5s infinite linear;
  box-shadow: 0 0 1px 0 #4ba7cd, inset 0 0 10px 0 #4ba7cd;
}
.app-loading .container .circle:nth-of-type(4) {
  width: 190px;
  height: 210px;
  animation: rt 15s infinite linear;
  box-shadow: 0 0 1px 0 #90e551, inset 0 0 10px 0 #90e551;
}
@keyframes rt {
  100% {
    transform: rotate(360deg);
  }
}
