<div class="modal-header">
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true"><fa-icon class="arq-close" [icon]="'times'"></fa-icon></span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">

        <div class="col-md-12">
            <h1 class="text-center" jhiTranslate="login.title">Sign in</h1>
        </div>

        <div class="col-md-12 mt-4">
            <div class="arq-alert-container" *ngIf="authenticationError">
                <div class="arq-alert-icon">
                    <fa-icon [icon]="'exclamation-circle'"></fa-icon>
                </div>
                <div class="arq-alert-content">
                    <p class="arq-alert-claimer">
                        <strong jhiTranslate="login.messages.error.authentication.claimer">Failed to sign in!</strong>
                    </p>
                    <p class="arq-alert-message" jhiTranslate="login.messages.error.authentication.message">
                        Please check your credentials and try again.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-4">
            <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">

                <!--username-->
                <div class="arq-input-group">
                    <div>
                        <fa-icon class="arq-input-icon" [icon]="'user'"></fa-icon>
                        <label for="username" style="display: none"></label>
                        <input id="username" name="login" formControlName="username" #username
                               placeholder="{{'global.form.username.placeholder' | translate}}" type="text"
                               class="arq-input">
                        <span class="bar" style="align-self: center"></span>
                    </div>
                </div>

                <!--password-->
                <div class="arq-input-group">
                    <div>
                        <fa-icon class="arq-input-icon" [icon]="'lock'"></fa-icon>
                        <label for="password" style="display: none"></label>
                        <input id="password" name="password" formControlName="password"
                               placeholder="{{'login.form.password.placeholder' | translate}}" type="password"
                               class="arq-input">
                        <span class="bar" style="align-self: center"></span>
                    </div>
                </div>


                <div class="form-check">
                    <label class="form-check-label" for="rememberMe">
                        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe">
                        <span jhiTranslate="login.form.rememberme">Remember me</span>
                    </label>
                </div>

                <!--submit-->
                <div class="row d-flex justify-content-center mt-4">
                    <button type="submit" class="arq-submitbtn" jhiTranslate="login.form.button">Sign in</button>
                </div>

                <div class="row d-flex justify-content-center mt-4">
                    <a class="arq-ci-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a>
                </div>

            </form>

        </div>
    </div>
</div>






